<!DOCTYPE html>
<html>
<head>
  <title>Vkblacklist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Vkblacklist горизонтальный -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9718735419224656"
     data-ad-slot="8471911616"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<%= render partial: 'shared/ya_metrika' %>

</body>
</html>
